# newsboat.timer

[Unit]
Description= Runs the newsboat.service on Sunday

[Timer]
OnBootSec=30 s
OnUnitActiveSec=1 h
Unit=newsboat.service

[Install]
WantedBy=basic.target
