#include ".cache/wal/colors.Xresources"

! Setting transparency and background
!Xft.dpi: 96

!! URxvt Appearance

!Font
URxvt.font:xft:JetBrainsMono Nerd Font:pixelsize=14
URxvt.boldFont:xft:JetBrainsMono Nerd Font:pixelsize=14:style=bold

Xft.hintstyle:	hintslight
Xft.hinting: 1
Xft.antialias:1

!Font Spacing
URxvt.letterSpace: -1
URxvt.lineSpace: 0

!General Settings
URxvt*saveline: 2048
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*urgentOnBell: true
URxvt*iso14755: false

!Appearance
URxvt*transparency: true
URxvt*shading : 18

URxvt.perl-ext-common: default,matcher,-confirm-paste
!Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!Colored links
URxvt.matcher.rend.0: Uline Bold fg12 





